html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    line-height: 2;
}
.contenedor-sesiones{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 15%;
    max-width:50%;
    font-size: 3rem;
    padding-bottom: 3rem;
    
}
.contenedor-sesiones input,button{
   width:  30rem;
    
}
#user,#password{
    font-size: 2rem;
}

/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    width: 98%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}

/** Botones **/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
    text-decoration: none;
    color:white;
}
.boton-amarillo {
    background-color: #068A2A;
}
.boton-amarillo:hover{
    background-color:#0A7340;

}
.boton-verde {
    background-color: #71B100;
}


/* Header */
.site-header {
    /*background-color: #0b7441,8CEB57;*/
    background: rgba(246,41,12,1);
    background: rgba(174,237,92,1);
    background: -moz-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(174,237,92,1)), color-stop(100%, rgba(73,214,77,1)));
    background: -webkit-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: -o-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: -ms-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: linear-gradient(to right, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeed5c', endColorstr='#49d64d', GradientType=1 );
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {

    background-position: center center;
    background-size: cover;
    height: 10vh;
    min-height: 25rem;
    margin-bottom: 20rem ;
}
@media (min-width: 768px){
    .site-header.inicio {

        background-position: center center;
        background-size: cover;
        height: 10vh;
        min-height: 25rem;
        margin-bottom: 2rem ;
    }
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header{
        text-align: left;
    }
}
.contenido-header h1 {

    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra {
    padding-top: 3rem;
    align-items: center;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** Navegacion **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    display: block;
    align-items: center;
    text-align: center;
    background-color: #aeed5c;
    border: 1px solid;
    border-color: black;
}

@media (min-width: 768px) {
    .navegacion a {
        align-items: top;
        display: inline-block;
        font-size: 2.5rem; /** = 18px **/
        margin-right: 2rem;
        border: 0px;
        background-color: #00000000;
        max-width: 22rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color: #0B7441;
}

/** Mobile Menu **/
.mobile-menu img {
    width: 5rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}

/** Iconos Nosotros **/
@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}
.icono {
    text-align: center;
}
@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
    }
}
.icono h3 {
    text-transform: uppercase;
}
/** Anuncios **/

@media (min-width: 768px) {
    .contenedor-anuncios{
        display: grid;
        grid-column-gap:2rem;
        grid-template-columns: repeat(3,33%);
    }
}
.anuncio {
    text-align: center;
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.contenido-anuncio {
    padding: 1rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p  {
    margin: 0;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li {
    /* flex: 1; */
    display: flex;
}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}



/** Secci贸n Inferior **/
@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}
.entrada-blog {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
}
.texto-entrada a {
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}
.texto-entrada span {
    color: #E08709;
}

/** Footer **/
.site-footer {
    background: rgba(246,41,12,1);
    background: rgba(174,237,92,1);
    background: -moz-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(174,237,92,1)), color-stop(100%, rgba(73,214,77,1)));
    background: -webkit-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: -o-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: -ms-linear-gradient(left, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    background: linear-gradient(to right, rgba(174,237,92,1) 0%, rgba(73,214,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeed5c', endColorstr='#49d64d', GradientType=1 );
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}
@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}
.site-footer nav {
    display: none;
}
@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }
}

.copyright {
    margin: 0;
    color: #ffffff;
}
.seccion.contenedor.color-fondo{
    padding-top:1rem;
    background-color:#ffffff00;
    text-align: center;
    letter-spacing: 0rem;
    width: 100%;
}
@media (min-width: 768px) {
.seccion.contenedor.color-fondo{
    padding-top:1rem;
    background-color:#ffffff00;
    text-align: center;
    letter-spacing: 0.1rem;
    width: 100rem;
}}
.fondo-sobrenosotros{
    background-color: #068A6A;
    padding-bottom: 2rem;
    color:white;
    font-size: 1.5rem;
}
@media (min-width: 768px) {
.fondo-sobrenosotros{
    background-color: #068A6A;
    padding-bottom: 2rem;
    color:white;
}}

/*para la baliza*/
.contenedor-baliza{

        height: 40rem;
        background-color: black;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2.5rem;
        margin-bottom: auto;
        border-radius: 5%;
        padding-top: 1rem;
        border: solid 10px;

}

/*luz roja*/
.luz-roja-apagada{
    background-color: rgb(97, 28, 28);
    width: 90%;
    height: 45%;
    border-radius: 5% 5% 0% 0%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;

}
.luz-roja{
    background-color: red;
    width: 90%;
    height: 45%;
    border-radius: 5% 5% 0% 0%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;

}

/*luz verde*/
.luz-verde-apagada{
    background-color: rgb(23, 71, 23);
    width: 90%;
    height: 45%;
    margin: auto;
    margin-top: 30px;
    border-radius: 0% 0% 5% 5% ;
    
  
}
.opaco{
    opacity: 0;
}

.luz-verde{
    background-color: rgb(13, 214, 13);
    width: 90%;
    height: 45%;
    margin: auto;
    margin-top: 30px;
    border-radius: 0% 0% 5% 5% ;
  
}
/*station1*/
.info-st1-items{
    display: grid;
    border: solid 10px ;
    grid-column-gap:2rem;
    grid-template-rows: repeat(2,auto);
    padding: 10px;
    background-color: rgba(137, 43, 226, 0.404);

}
.informacion-station{
    display:grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2,50%);
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    overflow:hidden;
}
p.casillas-station{
    text-align: center;
    margin-top: auto;
    border: solid 2px;
    background-color: rgba(0, 255, 255, 0);
    font-size: 9em;
}
p.casillas-metadato{
    text-align: center;
    margin-top: auto;
    background-color: rgba(137, 43, 226, 0);
    padding-bottom: 5rem;
    font-size: 3rem !important;
  
}
label.display-velocidad{
    font-size: 3rem;
    font-weight: 900;
}

.contenedor.centrar-texto h2{
    text-transform: uppercase;
}
.contenedor-general{
   
    background: rgba(174,237,92,1);
    margin-bottom:0rem;
    position: center;

}
.casillas-ss{
    width: 100%;
    font-size: 3rem;
    background: rgba(73,214,77,1);
    margin: auto auto;
    position: center;

}
.grid-informacion{
    display:grid;
    align-items: centery;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2,50%);
}
/*Simulaci贸n*/
.label-tank{
    font-size: 1.8rem;
    font-weight: 900;
}
#porcentaje, #porcentaje-mat1, #porcentaje-mat2, #porcentaje-mat3,#porcentaje-mat4,#porcentaje-mat5{
    text-align: center;
    font-size: 2rem;
    width: 100%;
}
.label-tank{
    font-size:1.7rem;
}

.contenedor-baliza-simulacion{

    height: 35rem;
    background-color: black;
    width: 95%;
    margin-left: 0%;
    margin-top: 2.5rem;
    margin-bottom: auto;
    border-radius: 5%;
    padding-top: 1rem;
    border: solid 10px;

}
.luz-roja-apagada-simulacion{
    background-color: rgb(97, 28, 28);
    width: 90%;
    height: 45%;
    border-radius: 5% 5% 0% 0%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;

}
.luz-roja-simulacion{
    background-color: red;
    width: 90%;
    height: 45%;
    border-radius: 5% 5% 0% 0%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;

}

/*luz verde*/
.luz-verde-apagada-simulacion{
    background-color: rgb(23, 71, 23);
    width: 90%;
    height: 45%;
    margin: auto;
    margin-top: 30px;
    border-radius: 0% 0% 5% 5% ;
    
  
}
.luz-verde-simulacion{
    background-color: rgb(13, 214, 13);
    width: 90%;
    height: 45%;
    margin: auto;
    margin-top: 30px;
    border-radius: 0% 0% 5% 5% ;
  
}
.estacion-simulacion{
    display: flex;
    justify-content: space-between;
    

}
.piston-arriba-simulacion{
    margin-top:50%;
    height: 5rem;
    width:3rem;
    background-color: grey;
}
.piston-arriba-simulacion2{
    margin-top:10%;
    height: 5rem;
    width:3rem;
    background-color: grey;
}
.piston-abajo-simulacion{
    margin-top:70%;
    height: 1.5rem;
    width:3rem;
    background-color: grey;
}
.piston-abajo-simulacion2{
    margin-top:20%;
    height: 1.5rem;
    width:3rem;
    background-color: grey;
}
/*bandeja*/
.bandeja-simulacion{
    width:65%;
    height: 3rem;
    background-color: black;
    margin-bottom: 0%;
    margin-top:55%;
}
.bandeja-simulacion2{
    width:75%;
    height: 3rem;
    background-color: black;
    margin-bottom: 0%;
    margin-top:5%;
}
/*Resultado simulacion*/
#tiempo-plc, #velocidad-plc, #temperatura-plc,
#en-temperatura, #push, #porcentaje-PLC {
    color:white;
}
.perdidas-mat-t {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    overflow:hidden;
    font-size: 4rem;
    font-weight: 900;
  }
#perdidas-mat1, #perdidas-mat2,
#perdidas-mat3, #perdidas-mat4, #perdidas-mat5, #perdidas-mat-t {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    overflow:hidden;
    font-size: 2rem;
    font-weight: 800;
  }
  
  @keyframes slidein {
    from {
      top: 100px;
      width: 300%
    }
  
    to {
      top: 0px;
      width: 100%;
    }
  }
/*Slider*/



.Button {
	box-shadow:inset 0px 1px 0px 0px #0A7340;
	background-color:#068A2A;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.5rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3934b0;
    font-size:3rem
}
.Button:hover {
    background-color:#0A7340;
    text-decoration: none;
    
}
.Button:active {
	position:relative;
	top:1px;
}
input#vel:focus {
    outline: none;
}
  
  input#vel,
  input#vel::-webkit-slider-runnable-track,
  input#vel::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input#vel::-webkit-slider-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    margin-top: -9px;
  }
  
  input#vel::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input#vel::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input#vel::-webkit-slider-runnable-track {
    height: 3px;
    background:linear-gradient(to right, rgb(47, 149, 218) calc(var(--value)*1%), black 0);
  }
  input#vel::-moz-range-track {
    height: 3px;
    background:linear-gradient(to right, rgb(47, 149, 218) calc(var(--value)*1%), black 0);
  }
  
  input#vel::-ms-track {
    background-color: #777;
    height: 3px;
  } 
  
  input#vel::-ms-fill-lower {
    background-color: rgb(47, 149, 218);
  }
  
  input#vel::-ms-fill-upper {
    background-color: rgb(0, 0, 0);
  } 
  /*Boton ON/OFF*/
  .Button1 {
	box-shadow:inset 0px 1px 0px 0px #068A2A;
	background-color:#068A2A;
	border-radius:6px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
    padding:6px 24px;
    margin-bottom:1rem;
	text-decoration:none;
    text-shadow:0px 1px 0px #3934b0;
    font-size:3rem;
}
.Button1:hover {
	background:#0A7340;
}
.Button1:active {
	position:relative;
	top:1px;
}

/*Slider estaci贸n 3*/

.slider-estacion3{

    width: 100%;
    margin-bottom: 10rem;
}
.slider-estacion3 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2.5rem; /* Specified height */
    background: rgba(98,52,247,1);
background: -moz-linear-gradient(left, rgba(98,52,247,1) 0%, rgba(93,223,240,1) 14%, rgba(12,245,198,1) 28%, rgba(0,255,102,1) 42%, rgba(33,250,0,1) 56%, rgba(192,230,39,1) 70%, rgba(250,179,0,1) 82%, rgba(250,8,0,1) 93%, rgba(250,8,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,52,247,1)), color-stop(14%, rgba(93,223,240,1)), color-stop(28%, rgba(12,245,198,1)), color-stop(42%, rgba(0,255,102,1)), color-stop(56%, rgba(33,250,0,1)), color-stop(70%, rgba(192,230,39,1)), color-stop(82%, rgba(250,179,0,1)), color-stop(93%, rgba(250,8,0,1)), color-stop(100%, rgba(250,8,0,1)));
background: -webkit-linear-gradient(left, rgba(98,52,247,1) 0%, rgba(93,223,240,1) 14%, rgba(12,245,198,1) 28%, rgba(0,255,102,1) 42%, rgba(33,250,0,1) 56%, rgba(192,230,39,1) 70%, rgba(250,179,0,1) 82%, rgba(250,8,0,1) 93%, rgba(250,8,0,1) 100%);
background: -o-linear-gradient(left, rgba(98,52,247,1) 0%, rgba(93,223,240,1) 14%, rgba(12,245,198,1) 28%, rgba(0,255,102,1) 42%, rgba(33,250,0,1) 56%, rgba(192,230,39,1) 70%, rgba(250,179,0,1) 82%, rgba(250,8,0,1) 93%, rgba(250,8,0,1) 100%);
background: -ms-linear-gradient(left, rgba(98,52,247,1) 0%, rgba(93,223,240,1) 14%, rgba(12,245,198,1) 28%, rgba(0,255,102,1) 42%, rgba(33,250,0,1) 56%, rgba(192,230,39,1) 70%, rgba(250,179,0,1) 82%, rgba(250,8,0,1) 93%, rgba(250,8,0,1) 100%);
background: linear-gradient(to right, rgba(98,52,247,1) 0%, rgba(93,223,240,1) 14%, rgba(12,245,198,1) 28%, rgba(0,255,102,1) 42%, rgba(33,250,0,1) 56%, rgba(192,230,39,1) 70%, rgba(250,179,0,1) 82%, rgba(250,8,0,1) 93%, rgba(250,8,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6234f7', endColorstr='#fa0800', GradientType=1 );
  }
  
  /* Mouse-over effects */

  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider-estacion3::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5rem; /* Set a specific slider handle width */
    height: 2.5rem; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider-estacion3::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
  }
  .display-temperatura{
      position: relative;
      top: -70px; 
      margin-left:45%;
      margin-right:50%;
      font-size:2rem;   
  }

  /*Slider de la estaci贸n 4*/
  .slider-estacion4{

    width: 100%;
    margin-bottom: 10rem;
}
.slider-estacion4 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2.5rem; /* Specified height */
    background-color: #068A2A;
    outline: black; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 1s; /* 0.2 seconds transition on hover */
    transition: opacity 1s;
  }
  
  /* Mouse-over effects */

  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider-estacion4::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5rem; /* Set a specific slider handle width */
    height: 2.5rem; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider-estacion4::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
  }